.videoCover {
  margin-bottom: -10px;
}

.videoTitle {
  color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;

  opacity: 0.87;

  margin-bottom: -5px;
}

.videoAuthorName {
  margin-bottom: -10px;
}

.videoStat,
.videoAuthorName {
  color: #fff;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;

  opacity: 0.6;
}

.card {
  cursor: pointer;
  margin-bottom: 17px;
}

// .playerCover {
//   max-width: 314px;
//   max-height: 168px;
//   margin-right: 6px;
//   border-radius: 20px;
//   display: none;
// }

.card.video {
  display: flex;

  .videoCover {
    max-width: 167.532px;
    max-height: 94px;
    margin-right: 6px;
    border-radius: 20px;
  }

  .videoTitle {
    font-size: 12px;
    white-space: nowrap;
  }

  .videoAuthorName,
  .videoStat {
    white-space: nowrap;
  }
}

// .videoCover:hover {
//   display: none;
// }

// .videoCover:hover + .playerCover {
//   display: block;
// }

@media (max-width: 600px) {
  
}
