{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/profile.css' %}">
<link rel="stylesheet" href="{% static 'mainmenu/menu.css' %}">
<link rel="stylesheet" href="{% static 'mainmenu/story.css' %}">
{% endblock %}

{% block main %}

    <div class="wrapper">
            <div class="account">
                <div class="account-main">
                            <div class="account-img">
                                <img src="{{ profile.imageURL }}" alt="avatar" class="account--ava">
                            </div>
                            <div class="account-info">
                                <div class="account-main-line">
                                    <p class="account-info-name">{{ profile.name }}</p>
                                    <button class="send--btn">
                                         <a href="{% url 'edit-account' %}" class="account-btn">
                                            Редактировать аккаунт
                                        </a>
                                    </button>

                                </div>
                                <p class="account-info-username">@{{ profile.username }}</p>
                                <p class="account-info-bio">{{ profile.bio|linebreaksbr }}</p>
                                <div class="line-links">
                                    <div class="links-first">
                                        {% if profile.social_link %}
                                        <a href="{{ profile.social_link }}" class="account-info-link">
                                            <img src="{% static 'users/images/link.svg' %}" alt="">{{ profile.social_link }}
                                        </a>
                                        {% endif %}
                                    </div>
                                    <div class="links-second">
                                        <button class="exit--btn">
                                             <a href="{% url 'logout' %}" class="e-account-btn">
                                                Выйти
                                            </a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="account-mobile">
                    <button class="m-send--btn">
                        <a href="{% url 'edit-account' %}" class="account-btn">
                            Редактировать аккаунт
                        </a>
                    </button>
                    <button class="m-exit--btn">
                        <a href="{% url 'logout' %}" class="account-btn">
                            Выйти
                        </a>
                    </button>
                </div>

            </div>



    </div>





{% endblock %}