{% extends 'base.html' %}
{% load static %}

  {% block extra_head %}
  <title>Страница курса - Pandela</title>
  {% endblock %}



  {% block main %}

    <main>
      <div class="course-page">

        <div class="course-welcome">
          <div class="left">
            <h1>{{ course.title }}</h1>
            <p class="course__description">{{ course.description }}</p>
            <p class="course__likes">{{course.vote_ratio}}% Нравится({{course.vote_total}} отзыва)</p>


          </div>
          <div class="right">
            <div class="video-player" id="player"></div>
          </div>
        </div>

        <div class="course-program">
          <h2 class="title">Программа курса</h2>
          <div class="course-program__content">
            {% for video in course.video_set.all %}
              <a href="{% url 'watch_video' video.id %}">
                <p class="course-program__name">{{video.title}}</p>
              </a>
            {% endfor %}
          </div>
        </div>

        <div class="course-reviews">
          <h2 class="title">Отзывы</h2>
            <h2 class="title">Этот курс понравился {{course.vote_ratio}}% пользователей. ({{course.vote_total}}
                        Голос{{course.vote_total|pluralize:"ов"}})</h2>

            {% if request.user.profile.id in course.reviewers %}
                    <p>Вы уже написали отзыв к курсу</p>

            {% elif request.user.profile == course.owner %}
                    <p>Вы не можете оценить ваш собственный курс</p>

            {% elif request.user.is_authenticated %}
            <form class="course-reviews__write-review" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <label for="value" class="course-reviews__your-review">Ваша оценка курсу:</label>
              {{ form.value }}
              <br>
              <label class="course-review__for-comment" for="id_body">Добавить комментарий с вашим голосом</label>
              <br>
              {{ form.body }}
              <br>
              <input class="form__btn" type="submit" value="Написать отзыв">
          </form>
          {% else %}
                    <a href="{% url 'login' %}?next={{request.path}}">Зарегистрируйтесь, чтобы оставить отзыв</a>
          {% endif %}
          <div class="course-reviews__content">
            {% for review in course.review_set.all %}
              {% if review.body %}
                <div class="course-review">
                  <img class="profile-photo" src="{{review.owner.profile_image.url}}">
                  <p class="review-name">{{review.owner.name}}</p>
                  <p class="review">{{review.body|linebreaksbr}}</p>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </main>



  {% endblock %}


{% block extra_js %}
  <script src="{% static '/script/playerjs-1.js' %}"></script>

  <script>
    let player = new Playerjs({id:"player", file:"/media/{{template.file}}"});
  </script>
{% endblock %}

