{% extends 'base.html' %}
{% load static %}

    {% block extra_head %}
    <title>Редактирование курса</title>
    {% endblock %}
    {% block main %}
      <main>
        <div class="form-container">
            <p class="form__title">Редактирование<br>курса</p>
            
            <form class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <!-- Input:Text -->
                    <label for="formInput#text">{{field.label}}</label>
                    {{field}}
                {% endfor %}
                <br>

                    {% if formset %}
                        {{ formset.management_form }}

                        <div id="video-form-list">
                            <p class="label-title">Редактировать видео</p>
                                {% for form in formset %}
                                    <div class="video-form">
                                        <label for="id_title"></label>
                                        {{form.title}}
                                        <div class="choose-file">
                                            {{form.file}}
                                        </div>
                                        <br>
                                    </div>
                                {% endfor %}
                        </div>




                        <div id="empty-form" class="hidden">
                            {{ formset.empty_form.as_p }}
                        </div>
                        <button id="add-more" class="form__btn form__btn-3" type="button">Добавить видео</button>

                    {% endif %}

<!--                        тут теговая система-->

<!--                    <div class="form__field">-->
<!--                        <p>-->
<!--                            <label for="formInput#text">Теги истории</label>-->
<!--                        </p>-->
<!--                        <textarea class="add-tag" name="newtags" placeholder="Темы курса(через запятую):"></textarea>-->
<!--                    </div>-->



                    <input class="form__btn form__btn-4" type="submit" value="Опубликовать">
            </form>
        </div>
    </main>

    {% endblock %}

{% block extra_js %}
<script>

    const addMoreBtn = document.getElementById('add-more')
    const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')


    addMoreBtn.addEventListener('click', add_new_form)
    function add_new_form(event) {
        if (event) {
            event.preventDefault()

        }
        const currentVideoForms = document.getElementsByClassName('video-form')
        const currentFormCount = currentVideoForms.length // + 1
        const formCopyTarget = document.getElementById('video-form-list')
        const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'video-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        formCopyTarget.append(copyEmptyFormEl)
    }
</script>

{% endblock %}