{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>Редактировать аккаунт</title>
{% endblock %}

    {% block main %}
    <main>
        <div class="form-container">
            <p class="form__title">Редактировать аккаунт</p>
            
            <form class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    {% for field in form %}

                            <label for="formInput#text">{{field.label}}</label>
                            {{field}}
                            <br>
                    {% endfor %}
                    <input class="form__btn" type="submit" value="Изменить">
              </form>              
        </div>
    </main>
    {% endblock %}