{% extends 'base.html' %}
{% load static %}




{% block extra_head %}
<title>Pandela</title>
{% endblock %}
{% block main %}
      <main>
        <h2 class="title">Популярные курсы</h2>
        <span class="left-btn"></span>
        <span class="right-btn"></span>
        <div class="courses-carousel">
        
          <div class="popular-courses">
            {% for course in courses|dictsortreversed:"vote_total" %}
              <a href="{% url 'course' course.id %}">
                <div class="course">
                    {% if course.preview %}
                  <img class="course__preview" src="{{course.preview.url}}" alt="Мега-фотка курса ">
                    {% endif %}
                  <p class="course__title">{{ course.title }}</p>
                  <p class="course__likes">{{course.vote_ratio}}% Нравится(({{course.vote_total}} отзыва)</p>
                </div>
              </a>
            {% endfor %}


            

              
          </div>
  
          
      </div>

      <div class="mega-banner">
        <div class="left">
          <h1 class="mega-banner__title">Учись бесплатно!</h1>
          <h2 style="opacity: 0.87;">Или с подпиской</h2>
        </div>

        <div class="center">
          <img class="mega-banner__img" src="{% static 'images/mega-banner.png' %}" alt="мега-супер-дупер баннер">
        </div>
        

        <div class="right">
          <h2>Развивайся без <br>проблем!</h2>
        </div>
        
      </div>

      <h2 class="title">Новые курсы</h2>
      <span class="left-btn"></span>
      <span class="right-btn"></span>

      <div class="courses-carousel">
        

        <div class="new-courses">

          {% for course in courses|dictsortreversed:"created" %}
              <a href="{% url 'course' course.id %}">
                <div class="course">
                  {% if course.preview %}
                  <img class="course__preview" src="{{course.preview.url}}" alt="Мега-фотка курса ">
                    {% endif %}
                    <p class="course__title">{{ course.title }}</p>
                  <p class="course__likes">{{course.vote_ratio}}% Нравится(({{course.vote_total}} отзыва)</p>
                </div>
              </a>
          {% endfor %}


          

        </div>
        </div>

        <h2 class="title">Все курсы</h2>
        <div class="all-courses">
          {% for course in courses|dictsort:"title" %}
              <a href="{% url 'course' course.id %}">
                <div class="course">
                    {% if course.preview %}
                  <img class="course__preview" src="{{course.preview.url}}" alt="Мега-фотка курса ">
                    {% endif %}
                  <p class="course__title">{{ course.title }}</p>
                  <p class="course__likes">{{course.vote_ratio}}% Нравится({{course.vote_total}} отзыва)</p>
                </div>
              </a>
          {% endfor %}

        </div>
      </main>

{% endblock %}
