.form-container {
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 430px;
    background: #1B1A1D;
    border-radius: 10px;
    box-shadow:0 0 5px #4CAF50;
}



.form {
    label {
        display: block;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        opacity: 0.87;
        margin-left: 14px;
        margin-bottom: 4px;
        
    }
    .label-title {
        font-weight: 500;
        margin-bottom: 13px;
    }
    
}

.form__logo {
    margin-bottom: 27px;
    padding-top: 48px;
}

.form__text-input {
    width: 255px;
    height: 34px;
    background: #0F0F0F;
    border-radius: 10px;
    border: none;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    line-height: 19px; 
    color: #FFFFFF;
    opacity: 0.87;
    padding-left: 14px;
    margin-bottom: 13px;
}

.form__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 50px;
    text-align: center;
}

.choose-file {
    margin-bottom: -60px;
}

.file-name {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    position: relative;
    left: 45px;
    bottom: 11px;
}

.choose-category {
    width: 270px;
    height: 38px;
    background: #0F0F0F;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 17px;

    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.87;
}