.header {
  display: flex;
}

.logo {
  position: relative;
  top: -7px;
  margin-left: 51px;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 35px;
  line-height: 42.67px;
  color: #ffffff;

  a {
    text-shadow: 0px 2px 6px rgba(255, 255, 255, 0.25);
  }

 

  a:hover::after {
    content: '↵';
    color: #4CAF50;
    display: inline-block;
    margin-left: 3px;
  }

  
}

.dropdown-menu {
  margin-left: 32px;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

p,
.header_text {
  position: relative;
  top: 7px;
  color: #fff;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 21.09px;
  opacity: 0.87;
}

.header_text {
  position: relative;
  top: 23px;
}

.no-opacity {
  opacity: 1;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #4CAF50;

  .login_ico {
    background: url("../icons/login_ico-hover.svg");
  }

  .header_text {
    color: #4CAF50;
  }
}

.dropdown-menu__btn {
  cursor: pointer;
  width: 101px;
  top: 5px;
}

.dropdown-menu__icon {
  position: relative;
  bottom: 24px;
  left: 1px;
  width: 12px;
  height: 7px;
  float: right;
  background: url("../icons/dropdown-menu_open.svg");
}

.dropdown-menu__content {
  position: absolute;
  background: #0f0f0f;
  z-index: 10;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: -40px;
  p:first-child {
    margin-top: 10px;
  }
  p {
    margin: 15px;
  }
}

.close {
  transform: rotate(180deg);
}

.navigation {
  display: none;
  position: relative;
  top: 10px;
}

.menu {
  list-style: none;

  li {
    display: inline-block;
    color: #fff;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    line-height: 21.09px;
    opacity: 0.87;
    margin-right: 15px;
  }
}

.search-form {
  margin-left: 32px;
  margin-top: 14px;
}

#search-form__input {
  width: 270px;
  height: 35px;
  background: #0f0f0f;
  opacity: 0.87;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #dcdcdc;
  opacity: 0.87;
  padding-left: 33px;
}

#search-form__input::placeholder {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #dcdcdc;
  opacity: 0.87;
}

.search_ico {
  position: absolute;
  z-index: 10;
  width: 18px;
  height: 18px;
  margin-left: 6px;
  margin-top: 9px;
  background: url("../icons/search.svg");
}

.login {
  margin-left: auto;
  margin-right: 51px;
}

.login_ico {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 120px;
  top: 29px;
  background: url("../icons/login_ico.svg");
}



.account {
  margin-left: auto;
  margin-right: 52px;
  margin-top: 14px;
  display: flex;
  
  p {
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 0;
  }

  p:hover {
    color: #EF5350;
  }
}

.account_ico {
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-left: 24px;
  background: url('../icons/account_ico.svg');
}

.account_ico:hover {
  background: url('../icons/account_ico-hover.svg');
}