.premium-welcome {
    margin-top: -35px;
    padding-left: 111px;
    padding-bottom: 101px;
    background: #1D75DE;
}

.premium-welcome__title {
    padding-top: 101px;
    margin-bottom: -4px;
    font-size: 48px;
}

.premium-welcome__description {
    max-width: 969px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    opacity: 0.87;
}

.welcome__btns {
    margin-top: 41px;

    .btn {
        margin-right: 30px;
    }
}

.premium-for-what {
    position: relative;
    padding-top: 154px;
    padding-bottom: 200px;
    margin-top: -40px;
    background: #FFFFFF;

    h2 {
        position: absolute;
        margin-top: -110px;
        left: 50%;
        transform: translate( -50%);
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #0F0F0F;
    }
}

.for-what__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.for-what__item {
    position: relative;
    margin-right: 124px;

    img {
        position: absolute;
        left: 50%;
        transform: translate( -50%);
    }
}

.for-what__item:last-child {
    margin-right: 0;
}

.for-what__item-text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    text-align: center;
    margin-top: 151px;
}

.subscription {
    position: relative;
    margin-top: -37px;
    padding-bottom: 192px;
    background: #DEDEDE;

    h2 {
        position: absolute;
        margin-top: 34px;
        left: 50%;
        transform: translate( -50%);
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #0F0F0F;
    }
}

.subscription__description {
    position: absolute;
    left: 50%;
    transform: translate( -50%);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.87;
    padding-top: 93px;
    margin: 0 auto;
}

.subscription__center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscription__card {
    position: relative;
    left: 50%;
    transform: translate( -50%);
    top: 150px;
    width: 350px;
    height: 450px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
    hr {
        width: 300px;
        background: #0F0F0F;
    }

    .btn {
        width: 310px;
        height: 46px;
        font-size: 24px;
        line-height: 28px;
        margin-top: 128px;
    }
}

.subscription__title {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    padding-top: 16px;
    margin-left: 50px;
}

.subscription__price {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-top: -42px;
    margin-left: 50px;
}

.subscription__benefits {
    margin-top: -7px;

    p {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        opacity: 1;
    }

    p::before {
        content: '';
        float: left;
        width: 22px;
        height: 19px;
        margin-right: 10px;
        background: url('../icons/mark.png');
    }
}