@charset "UTF-8";
@import '../fonts/fonts.css';
body {
  background: #0F0F0F;
}

h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
  opacity: 0.87;
}


textarea {
  resize: none;
}


.title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  opacity: 0.87;
  margin-left: 50px;
  margin-top: 15px;
}

.btn {
  cursor: pointer;
  width: 190px;
  height: 56.92px;
  background: #0F0F0F;
  color: #FFFFFF;
  border: none;
  border-radius: 100px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.form__btn {
  cursor: pointer;
  margin: 0 auto;
  margin-top: 34px;
  width: 197px;
  height: 38.94px;
  background: #4CAF50;
  border-radius: 10px;
  border: none;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 61px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.87;
}

.form__btn:hover {
  border: 1px solid #fff;
  transition: all 0.5s;
}

.form__btn-2 {
  width: 100px;
  height: 25px;
  border-radius: 3px;
  background: #4CAF50;
  border-radius: 3px;
  margin-top: 22px;
  left: 30%;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}




.form__btn-3 {
  width: 160px;
  height: 40px;
  border-radius: 20px;
  margin-bottom: -11px;
}

.form__btn-4 {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 3px;
}

.btn_transparent {
  width: 306px;
  border: 3px solid #FFFFFF;
  background: transparent;
}

main {
  overflow: hidden;
}

.show {
  display: block;
}

.header {
  display: flex;
}

.logo {
  position: relative;
  top: -7px;
  margin-left: 51px;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 35px;
  line-height: 42.67px;
  color: #ffffff;
}
.logo a {
  text-shadow: 0px 2px 6px rgba(255, 255, 255, 0.25);
}
.logo a:hover::after {
  content: "↵";
  color: #4CAF50;
  display: inline-block;
  margin-left: 3px;
}

.dropdown-menu {
  margin-left: 32px;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

p,
.header_text {
  position: relative;
  top: 7px;
  color: #fff;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 21.09px;
  opacity: 0.87;
}

.header_text {
  position: relative;
  top: 23px;
}

.no-opacity {
  opacity: 1;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #4CAF50;
}
a:hover .login_ico {
  background: url("../icons/login_ico-hover.svg");
}
a:hover .header_text {
  color: #4CAF50;
}

.dropdown-menu__btn {
  cursor: pointer;
  width: 101px;
  top: 5px;
}

.dropdown-menu__icon {
  position: relative;
  bottom: 24px;
  left: 1px;
  width: 12px;
  height: 7px;
  float: right;
  background: url("../icons/dropdown-menu_open.svg");
}

.dropdown-menu__content {
  position: absolute;
  background: #0f0f0f;
  z-index: 10;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: -40px;
}
.dropdown-menu__content p:first-child {
  margin-top: 10px;
}
.dropdown-menu__content p {
  margin: 15px;
}

.close {
  transform: rotate(180deg);
}

.navigation {
  display: none;
  position: relative;
  top: 10px;
}

.menu {
  list-style: none;
}
.menu li {
  display: inline-block;
  color: #fff;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 21.09px;
  opacity: 0.87;
  margin-right: 15px;
}

.search-form {
  margin-left: 32px;
  margin-top: 14px;
}

#search-form__input {
  width: 270px;
  height: 35px;
  background: #0f0f0f;
  opacity: 0.87;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #dcdcdc;
  opacity: 0.87;
  padding-left: 33px;
}

#search-form__input::placeholder {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #dcdcdc;
  opacity: 0.87;
}

.search_ico {
  position: absolute;
  z-index: 10;
  width: 18px;
  height: 18px;
  margin-left: 6px;
  margin-top: 9px;
  background: url("../icons/search.svg");
}

.login {
  margin-left: auto;
  margin-right: 51px;
}

.login_ico {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 120px;
  top: 29px;
  background: url("../icons/login_ico.svg");
}

.account {
  margin-left: auto;
  margin-right: 52px;
  margin-top: 14px;
  display: flex;
}
.account p {
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-top: 0;
}
.account p:hover {
  color: #EF5350;
}

.account_ico {
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-left: 24px;
  background: url("../icons/account_ico.svg");
}

.account_ico:hover {
  background: url("../icons/account_ico-hover.svg");
}

footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;
  padding-top: 22px;
}
footer .left {
  display: flex;
}
footer .right {
  display: flex;
  position: relative;
  top: -9px;
  right: 51px;
}
footer .right p {
  opacity: 60%;
  margin-left: 32px;
}
footer .logo {
  top: -19px;
  margin-left: 40px;
  margin-right: 25px;
}
footer .menu li {
  margin-right: 39px;
  font-weight: 500;
  font-size: 15px;
  opacity: 60%;
}

.social-media-group {
  display: flex;
  margin-top: 22px;
}

.social-media-group__item {
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.tiktok_ico {
  background: url("../icons/footer/static/tiktok_ico.svg");
}

.tiktok_ico:hover {
  background: url("../icons/footer/hover/tiktok_ico.png");
}

.vk_ico {
  background: url("../icons/footer/static/vk_ico.svg");
}

.vk_ico:hover {
  background: url("../icons/footer/hover/vk_ico.png");
}

.instagram_ico {
  background: url("../icons/footer/static/instagram_ico.svg");
}

.instagram_ico:hover {
  background: url("../icons/footer/hover/instagram_ico.png");
}

.left-btn {
  position: relative;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -72px;
  top: 133px;
  float: left;
  width: 16.4px;
  height: 45px;
  background: url("../icons/left-btn.svg");
  z-index: 10;
}

.right-btn {
  position: relative;
  cursor: pointer;
  margin-right: 13px;
  margin-top: -132px;
  top: 202px;
  float: right;
  width: 16.4px;
  height: 45px;
  background: url("../icons/right-btn.svg");
  z-index: 10;
}

.courses-carousel {
  margin: 0 auto;
  overflow: hidden;
}

.popular-courses, .new-courses {
  display: flex;
  position: relative;
  left: 0;
  transition: all 0.5s ease-in-out;
  margin-bottom: 66px;
  margin-right: -30px;
}

.all-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 62px;
}
.all-courses .course {
  margin-bottom: 18px;
}

.course {
  height: 255px;
  transition: all 0.5s ease-in-out;
}

.all-courses a .course {
  margin-right: 30px;
}

.course:hover .course__preview {
  box-shadow: 0 0 8px #fff;
}

.course__preview {
  height: 190px;
  border-radius: 20px;
}

.course__title {
  margin: 0;
  padding: 0;
  padding-top: 7px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  opacity: 0.87;
}

.course__likes {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.mega-banner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 95%;
  max-height: 590px;
  background: #4CAF50;
  border-radius: 10px;
  margin-bottom: 30px;
}
.mega-banner .left h2 {
  padding: 0;
  margin: 0;
  margin-right: 119px;
  margin-top: -39px;
}
.mega-banner .right {
  display: flex;
  align-items: center;
}
.mega-banner h2 {
  float: right;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
.mega-banner p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}
.mega-banner .right {
  float: right;
}

.mega-banner__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}

.cent::before {
  content: "Найди же свой курс)";
  font-size: 32px;
}

.form-container {
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 430px;
  background: #1B1A1D;
  border-radius: 10px;
  box-shadow: 0 0 5px #4CAF50;
}

.form label {
  display: block;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.87;
  margin-left: 14px;
  margin-bottom: 4px;
}
.form .label-title {
  font-weight: 500;
  margin-bottom: 13px;
}

.form__logo {
  margin-bottom: 27px;
  padding-top: 48px;
}

.form__text-input {
  width: 255px;
  height: 34px;
  background: #0F0F0F;
  border-radius: 10px;
  border: none;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.87;
  padding-left: 14px;
  margin-bottom: 13px;
}

.form__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 50px;
  text-align: center;
}

.choose-file {
  margin-bottom: -60px;
}

.file-name {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  position: relative;
  left: 45px;
  bottom: 11px;
}

.choose-category {
  width: 270px;
  height: 38px;
  background: #0F0F0F;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 17px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.87;
}

.course__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.87;
}

.course__likes {
  font-family: "Roboto";
  font-weight: 400;
}

.left .course__likes::before {
  float: left;
  content: "";
  width: 28.32px;
  height: 30.31px;
  margin-top: -8px;
  margin-right: 7px;
  background-image: url("../icons/star.svg");
}

/*
.course__poster {
  width: 658px;
  height: 370px;
  margin-top: 33px;
  position: relative;
  left: 31px;
}

.course__poster img {
  position: absolute;
  width: 100%;
  height: 100%;
}*/



.video-player {
  width: 658px;
  height: 370px;
  margin-top: 33px;
  position: relative;
  left: 31px;
}

/*
.control {
  cursor: pointer;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play {
  z-index: 10;
  background: url("../icons/play-video.svg");
}

.pause {
  z-index: 10;
  background: url("../icons/pause-video.svg");
}*/

.course-welcome {
  display: flex;
  justify-content: space-around;
  margin-top: 36px;
}
.course-welcome .left {
  margin-left: 111px;
  margin-right: 17px;
}
.course-welcome .left h1 {
  margin-bottom: -8px;
}
.course-welcome .right {
  margin-right: 113px;
}

.course-program {
  margin-left: 111px;
  margin-top: -66px;
}
.course-program .title {
  margin: 0;
}

.course-program__content {
  margin-top: 43px;
  margin-left: -9px;
  padding-top: 8px;
  padding-left: 29px;
  max-width: 520px;
  height: 509px;
  background: #1B1A1D;
  border-radius: 20px;
}

.course-program__name {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.87);
}

.course-program__name::before {
  content: "";
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 14px;
  margin-top: -3px;
  background: url("../icons/play-video-30px.svg");
}

.link-another {
    text-align: center;
}

.course-reviews {
  margin-left: 111px;
  margin-top: 16px;
  margin-bottom: 87px;
}
.course-reviews .title {
  margin: 0;
  margin-bottom: 36px;
}

.profile-photo {
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 13px;
  margin-top: 5px;
}

.review-name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: -12px;
  color: rgba(255, 255, 255, 0.87);
}

.review {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.87);
}


.course-reviews__write-review .choose-category {
  width: 122px;
  border: 1px solid #FFFFFF;
  margin-bottom: 34px;
}
.course-reviews__write-review .form__btn {
  position: static;
  margin: 0;
  padding: 0;
  margin-left: 97px;
  margin-top: 30px;
}

.course-reviews__your-review {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-right: 13px;
}

.course-review__for-comment {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

#id_body {
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  margin-top: 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}


.premium-welcome {
  margin-top: -35px;
  padding-left: 111px;
  padding-bottom: 101px;
  background: #1D75DE;
}

.premium-welcome__title {
  padding-top: 101px;
  margin-bottom: -4px;
  font-size: 48px;
}

.premium-welcome__description {
  max-width: 969px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  opacity: 0.87;
}

.welcome__btns {
  margin-top: 41px;
}
.welcome__btns .btn {
  margin-right: 30px;
}

.premium-for-what {
  position: relative;
  padding-top: 154px;
  padding-bottom: 200px;
  margin-top: -40px;
  background: #FFFFFF;
}
.premium-for-what h2 {
  position: absolute;
  margin-top: -110px;
  left: 50%;
  transform: translate(-50%);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #0F0F0F;
}

.for-what__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.for-what__item {
  position: relative;
  margin-right: 124px;
}
.for-what__item img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.for-what__item:last-child {
  margin-right: 0;
}

.for-what__item-text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  margin-top: 151px;
}

.subscription {
  position: relative;
  margin-top: -37px;
  padding-bottom: 192px;
  background: #DEDEDE;
}
.subscription h2 {
  position: absolute;
  margin-top: 34px;
  left: 50%;
  transform: translate(-50%);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #0F0F0F;
}

.subscription__description {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  opacity: 0.87;
  padding-top: 93px;
  margin: 0 auto;
}

.subscription__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription__card {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  top: 150px;
  width: 350px;
  height: 450px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.subscription__card hr {
  width: 300px;
  background: #0F0F0F;
}
.subscription__card .btn {
  width: 310px;
  height: 46px;
  font-size: 24px;
  line-height: 28px;
  margin-top: 128px;
}

.subscription__title {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  padding-top: 16px;
  margin-left: 50px;
}

.subscription__price {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-top: -42px;
  margin-left: 50px;
}

.subscription__benefits {
  margin-top: -7px;
}
.subscription__benefits p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 1;
}
.subscription__benefits p::before {
  content: "";
  float: left;
  width: 22px;
  height: 19px;
  margin-right: 10px;
  background: url("../icons/mark.png");
}

.burger-icon {
  position: absolute;
  right: 13px;
  top: 16px;
  width: 40px;
  height: 30px;
  cursor: pointer;
  display: none;
}

.burger-icon.open .burger-icon__line1 {
  transform: rotate(45deg);
  top: 10px;
}
.burger-icon.open .burger-icon__line2 {
  opacity: 0;
}
.burger-icon.open .burger-icon__line3 {
  transform: rotate(-45deg);
  top: 10px;
}

.burger-icon__line1, .burger-icon__line2, .burger-icon__line3 {
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transition: all 0.3s ease;
}

.burger-icon__line1 {
  top: 0;
}

.burger-icon__line2 {
  top: 8px;
}

.burger-icon__line3 {
  top: 16px;
}

.burger-menu__content .dropdown-menu__content {
  position: relative;
  border: none;
  margin: 0;
}

.burger-menu {
  width: 380px;
  position: absolute;
  right: -100%;
  background: #0f0f0f;
  z-index: 10;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 100px;
  transition: all 0.2s;
  padding-top: 30px;
  border-radius: 20px;
}

.burger-menu.open {
  right: 0;
}

.my-profile {
  margin-bottom: -5px;
}

.my-profile__title {
  position: relative;
  top: -18px;
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 3px;
}

.my-profile__bottom {
  position: relative;
  left: 40px;
  top: -25px;
}

.my-profile__edit, .line, .my-profile__logout {
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 8.5px;
  line-height: 10px;
  color: #fff;
  padding-bottom: 1px;
}

.my-profile__edit:hover, .my-profile__logout:hover {
  color: #4CAF50;
}

.container-404 {
  max-width: 430px;
  height: 300px;
  background: #1B1A1D;
  border-radius: 10px;
  text-align: center;
  font-family: "Montserrat";
  color: #fff;
  margin: 0 auto;
  margin-bottom: 270px;
}
.container-404 h2 {
  font-weight: 700;
  font-size: 128px;
  padding-top: 16px;
  margin-bottom: -25px;
}
.container-404 h3 {
  font-weight: 500;
  font-size: 32px;
}

@media (min-width: 1513px) {
  .navigation {
    display: block;
  }
  .dropdown-menu {
    display: none;
  }
}
@media (max-width: 1313px) {
  .premium-for-what {
    padding-bottom: 165px;
  }
  .premium-welcome__title {
    font-size: 40px;
    padding-top: 50px;
  }
  .premium-welcome__description {
    font-size: 20px;
    max-width: 805px;
  }
  .btn {
    width: 158px;
    height: 47.4px;
    font-size: 16.6px;
  }
  .btn_transparent {
    width: 255px;
  }
  .premium-for-what h2 {
    white-space: nowrap;
    font-size: 40px;
  }
  .premium-welcome {
    padding-left: 0;
    overflow: hidden;
    margin-top: 0;
  }
  .premium-welcome__content {
    position: relative;
    left: 50%;
    transform: translate(-47%);
  }
  .for-what__items {
    justify-content: space-around;
  }
  .for-what__item {
    width: 200px;
    margin-right: 0;
  }
  .for-what__item img {
    width: 118.3px;
  }
  .for-what__item-text {
    font-size: 17.5px;
    margin-top: 134px;
  }
  .subscription h2 {
    white-space: nowrap;
    font-size: 40px;
  }
  .subscription__description {
    font-size: 16.5px;
    white-space: nowrap;
  }
  .subscription__card .btn {
    width: 258px;
    height: 38.3px;
    font-size: 20px;
  }
}
@media (max-width: 1291px) {
  .logo {
    font-size: 29.1px;
    margin-left: 42.5px;
    line-height: 35.5px;
  }
  .header_text {
    font-size: 15px;
    top: 21px;
  }
  .account {
    margin-right: 15px;
  }
  .account p {
    font-size: 15px;
  }
  .account_ico {
    margin-left: 14px;
  }
  .login_ico {
    width: 18px;
    height: 18px;
    right: 105px;
    background: url("../icons/login_ico-small.svg");
  }
  a:hover .login_ico {
    background: url("../icons/login_ico-small-hover.svg");
  }
  p {
    font-size: 15px;
    line-height: 17.5px;
  }
  .title {
    font-size: 26.6px;
  }
  .dropdown-menu__icon {
    left: -12px;
    bottom: 20px;
  }
  #search-form__input {
    width: 225px;
    height: 29.1px;
    font-size: 15px;
    line-height: 17.5px;
    padding-left: 27.5px;
  }
  #search-form__input::placeholder {
    font-size: 15px;
    line-height: 17.5px;
  }
  .search_ico {
    margin-top: 6px;
  }
  .mega-banner h2 {
    font-size: 30px;
    line-height: 36.6px;
  }
  .mega-banner__title {
    font-size: 40px;
    line-height: 49.1px;
  }
  .course__poster, .video-player {
    width: 506px;
    height: 284px;
  }
  h1 {
    font-size: 33px;
  }
  .course__description {
    font-size: 20px;
  }
  footer .logo {
    top: -15.8px;
    margin-left: 33.3px;
    margin-right: 20.8px;
  }
  footer .menu li {
    font-size: 13px;
    margin-right: 33px;
  }
  footer .right p {
    margin-left: 26.6px;
    margin-top: 19px;
  }
}
@media (max-width: 1108px) {
  footer .logo {
    margin-right: 0;
  }
}
@media (max-width: 1096px) {
  footer {
    flex-direction: column;
    max-width: 434px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
  footer .logo {
    margin: 0 auto;
    margin-bottom: -19px;
  }
  footer .menu {
    margin-bottom: 20px;
  }
  footer .left {
    flex-direction: column;
  }
  footer .right {
    right: 0;
  }
  footer .right p {
    margin: 0 auto;
  }
  .social-media-group {
    margin: 0 auto;
  }
  #search-form__input {
    width: 150px;
  }
  .dropdown-menu {
    margin-left: 26px;
  }
}
@media (max-width: 1212px) {
  .course-page {
    margin-left: -4%;
  }
  .course-welcome {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .course-welcome .left {
    margin-left: 9%;
    margin-right: 9%;
  }
  .course-welcome .right {
    margin: 0;
    margin-left: 4%;
  }
  .course-program {
    margin-left: 9%;
  }
  .course-reviews {
    margin-left: 9%;
  }
}
@media (max-width: 855px) {
  .account p {
    position: relative;
    left: 70px;
    top: -2px;
  }
}
@media (max-width: 800px) {
  .logo {
    margin-left: 8.5px;
    font-size: 20px;
  }
  .burger-icon {
    display: block;
  }
  .search-form.show {
    display: block;
  }
  .search-form {
    margin: 0;
    width: 100%;
  }
  #search-form__input {
    width: 100%;
  }
  .menu {
    width: 78%;
    display: flex;
    justify-content: space-between;
  }
  .menu li a {
    font-size: 15px;
  }
  .account {
    display: none;
  }
  .title {
    margin-left: 8.5px;
  }
  .left-btn, .right-btn, .search-form, .dropdown-menu {
    display: none;
  }
  .all-courses {
    margin-right: -30px;
  }
  .popular-courses, .new-courses {
    justify-content: center;
  }
  .course {
    margin-bottom: 18px;
  }
  .course-page {
    margin-top: -40px;
  }
}
@media (max-width: 650px) {
  .premium-for-what h2 {
    font-size: 30px;
  }
  .subscription h2 {
    font-size: 30px;
  }
  .subscription__description {
    font-size: 15.5px;
  }
  .welcome__btns .btn_transparent {
    margin-top: 7px;
  }
}
@media (max-width: 567px) {
  .course__poster, .video-player {
    width: 360px;
    height: 202.43px;
  }
}
@media (max-width: 477px) {
  .login {
    margin-top: -5px;
    margin-right: 25px;
  }
  .login_ico {
    top: 24px;
    right: 80px;
  }
  .course_preview {
    width: 100%;
    height: 202px;
  }
  .course-welcome .right {
    margin-left: -1%;
  }
  .premium-welcome__title {
    font-size: 24px;
    padding-top: 30px;
  }
  .premium-welcome__description {
    font-size: 15px;
  }
  .btn {
    width: 95%;
  }
  .premium-for-what h2 {
    font-size: 24px;
  }
  .subscription h2 {
    font-size: 24px;
  }
  .subscription__description {
    font-size: 14px;
    padding-top: 85px;
  }
  .subscription__card {
    width: 340px;
  }
  footer .menu li {
    font-size: 12px;
    margin-right: 18px;
  }
  footer .right p {
    font-size: 12px;
  }
  .mega-banner__title {
    font-size: 30px;
  }
  .mega-banner h2 {
    font-size: 20px;
  }
}
@media (max-width: 454px) {
  .form-container {
    width: auto;
    max-width: 430px;
    max-height: 450px;
    margin-bottom: 234px;
  }
}
@media (max-width: 401px) {
  .course-welcome .left {
    margin-left: 6%;
    margin-right: 6%;
  }
  .course-welcome .right {
    margin-left: -7%;
  }
  .course-program {
    margin-left: 6%;
  }
  .course-reviews {
    margin-left: 6%;
  }
  h1 {
    font-size: 24px;
    white-space: nowrap;
  }
  .course__description {
    font-size: 16px;
  }
}
@media (max-width: 395px) {
  footer .menu {
    margin-left: -23px;
  }
}
@media (max-width: 500px) {
  .burger-menu {
    width: 100%;
    padding-right: 0;
  }
  .burger-menu__content {
    width: 100%;
  }
  .search-form {
    width: 91%;
  }
}

/*# sourceMappingURL=style.css.map */




#id_preview {
  cursor: pointer;
  margin: 0 auto;
  margin-top: 34px;
  width: 197px;
  height: 38.94px;
  background: #4CAF50;
  border-radius: 10px;
  border: none;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 61px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.87;
  border: 1px solid #fff;
  transition: all 0.5s;
  width: 100px;
  height: 25px;
  border-radius: 3px;
  background: #4CAF50;
  border-radius: 3px;
  margin-top: 22px;
  left: 30%;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}
